In [18]:
import pandas as pd
import numpy as np
from pathlib import Path

# Configure pandas display options to show all data on the same grid
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Auto-detect width
pd.set_option('display.max_colwidth', None)  # Show full column content
pd.set_option('display.expand_frame_repr', False)  # Don't wrap to multiple lines

csv_path = Path("./train.csv")

In [19]:
# Read the CSV file
df = pd.read_csv(csv_path)
data_portion = df.head(20)
print("Original data (first 20 rows):\n\n")
print(data_portion)

Original data (first 20 rows):


    PassengerId  Survived  Pclass                                                     Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0             1         0       3                                  Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1             2         1       1      Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
2             3         1       3                                   Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3             4         1       1             Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4             5         0       3                                 Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
5             6         0       3                                         Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
6             7         0       1                                  McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
7             8         0       3                           Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
8             9         1       3        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9            10         1       2                      Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C
10           11         1       3                          Sandstrom, Miss. Marguerite Rut  female   4.0      1      1           PP 9549  16.7000    G6        S
11           12         1       1                                 Bonnell, Miss. Elizabeth  female  58.0      0      0            113783  26.5500  C103        S
12           13         0       3                           Saundercock, Mr. William Henry    male  20.0      0      0         A/5. 2151   8.0500   NaN        S
13           14         0       3                              Andersson, Mr. Anders Johan    male  39.0      1      5            347082  31.2750   NaN        S
14           15         0       3                     Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0      0            350406   7.8542   NaN        S
15           16         1       2                         Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0            248706  16.0000   NaN        S
16           17         0       3                                     Rice, Master. Eugene    male   2.0      4      1            382652  29.1250   NaN        Q
17           18         1       2                             Williams, Mr. Charles Eugene    male   NaN      0      0            244373  13.0000   NaN        S
18           19         0       3  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.0      1      0            345763  18.0000   NaN        S
19           20         1       3                                  Masselmani, Mrs. Fatima  female   NaN      0      0              2649   7.2250   NaN        C

In [20]:
# Sorting by axis 0 sorts by index itself, by 1 sorts by column names, returns a new sorted DataFrame
sorted_by_index = data_portion.sort_index(axis=0, ascending=False)
print("\nSorted by index (descending):")
print(sorted_by_index)

Sorted by index (descending):
    PassengerId  Survived  Pclass                                                     Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
19           20         1       3                                  Masselmani, Mrs. Fatima  female   NaN      0      0              2649   7.2250   NaN        C
18           19         0       3  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.0      1      0            345763  18.0000   NaN        S
17           18         1       2                             Williams, Mr. Charles Eugene    male   NaN      0      0            244373  13.0000   NaN        S
16           17         0       3                                     Rice, Master. Eugene    male   2.0      4      1            382652  29.1250   NaN        Q
15           16         1       2                         Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0            248706  16.0000   NaN        S
14           15         0       3                     Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0      0            350406   7.8542   NaN        S
13           14         0       3                              Andersson, Mr. Anders Johan    male  39.0      1      5            347082  31.2750   NaN        S
12           13         0       3                           Saundercock, Mr. William Henry    male  20.0      0      0         A/5. 2151   8.0500   NaN        S
11           12         1       1                                 Bonnell, Miss. Elizabeth  female  58.0      0      0            113783  26.5500  C103        S
10           11         1       3                          Sandstrom, Miss. Marguerite Rut  female   4.0      1      1           PP 9549  16.7000    G6        S
9            10         1       2                      Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C
8             9         1       3        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
7             8         0       3                           Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
6             7         0       1                                  McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
5             6         0       3                                         Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
4             5         0       3                                 Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
3             4         1       1             Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
2             3         1       3                                   Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
1             2         1       1      Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
0             1         0       3                                  Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S

In [21]:
# Sorting by 'Survived' column in descending order. Can add more columns: hierarchical sorting
sorted_by_survived = data_portion.sort_values(by=["Survived"], ascending=False, axis=0)
print("\nSorted by 'Survived' column (descending):")
print(sorted_by_survived)

Sorted by 'Survived' column (descending):
    PassengerId  Survived  Pclass                                                     Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
10           11         1       3                          Sandstrom, Miss. Marguerite Rut  female   4.0      1      1           PP 9549  16.7000    G6        S
8             9         1       3        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
17           18         1       2                             Williams, Mr. Charles Eugene    male   NaN      0      0            244373  13.0000   NaN        S
15           16         1       2                         Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0            248706  16.0000   NaN        S
11           12         1       1                                 Bonnell, Miss. Elizabeth  female  58.0      0      0            113783  26.5500  C103        S
1             2         1       1      Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
9            10         1       2                      Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C
19           20         1       3                                  Masselmani, Mrs. Fatima  female   NaN      0      0              2649   7.2250   NaN        C
3             4         1       1             Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
2             3         1       3                                   Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
7             8         0       3                           Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
6             7         0       1                                  McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
5             6         0       3                                         Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
4             5         0       3                                 Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
12           13         0       3                           Saundercock, Mr. William Henry    male  20.0      0      0         A/5. 2151   8.0500   NaN        S
13           14         0       3                              Andersson, Mr. Anders Johan    male  39.0      1      5            347082  31.2750   NaN        S
14           15         0       3                     Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0      0            350406   7.8542   NaN        S
16           17         0       3                                     Rice, Master. Eugene    male   2.0      4      1            382652  29.1250   NaN        Q
18           19         0       3  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.0      1      0            345763  18.0000   NaN        S
0             1         0       3                                  Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S

In [22]:
# Slicing as normal (or by row)
sliced_data = data_portion[2:10]
print("\nSliced data (rows 2 to 10):")
print(sliced_data)

Sliced data (rows 2 to 10):
   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
5            6         0       3                                   Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
6            7         0       1                            McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
7            8         0       3                     Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
8            9         1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9           10         1       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C

In [23]:
# Slicing based on label (or by col)
label_sliced_data = data_portion[["Survived", "Pclass"]]
print("\nLabel sliced data (Survived and Pclass columns):")
print(label_sliced_data)

Label sliced data (Survived and Pclass columns):
    Survived  Pclass
0          0       3
1          1       1
2          1       3
3          1       1
4          0       3
5          0       3
6          0       1
7          0       3
8          1       3
9          1       2
10         1       3
11         1       1
12         0       3
13         0       3
14         0       3
15         1       2
16         0       3
17         1       2
18         0       3
19         1       3

In [24]:
# Slicing based on both (notice the use of .loc)
row_and_col_slice = data_portion.loc[1:10, ["Survived", "Pclass"]]
print("\nRow and column slice (rows 1-10, Survived and Pclass):")
print(row_and_col_slice)

Row and column slice (rows 1-10, Survived and Pclass):
    Survived  Pclass
1          1       1
2          1       3
3          1       1
4          0       3
5          0       3
6          0       1
7          0       3
8          1       3
9          1       2
10         1       3

In [25]:
# Selecting a single value, returns a simple scalar
selection = data_portion.at[2, "Pclass"]
print("\nSingle value selection (row 2, Pclass column):")
print(selection)

Single value selection (row 2, Pclass column):
3

In [26]:
# Selecting based on position (rows 2 and 3, columns 1 and 4). Can also use slicing notation
positional_selection = data_portion.iloc[[2,3], [1,4]]
print("\nPositional selection (rows 2 and 3, columns 1 and 4):")
print(positional_selection)

Positional selection (rows 2 and 3, columns 1 and 4):
   Survived     Sex
2         1  female
3         1  female

In [27]:
# NOTE: use loc when referring to indices/labels, iloc for positions (think numpy indices, rather than the actual data index)

# Select ROWS where 'Survived' == 1
filtered_rows = data_portion[data_portion["Survived"] == 1]
print("\n\nFiltered rows (where Survived == 1):")
print(filtered_rows)

Filtered rows (where Survived == 1):
    PassengerId  Survived  Pclass                                                 Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
1             2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
2             3         1       3                               Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3             4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
8             9         1       3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9            10         1       2                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C
10           11         1       3                      Sandstrom, Miss. Marguerite Rut  female   4.0      1      1           PP 9549  16.7000    G6        S
11           12         1       1                             Bonnell, Miss. Elizabeth  female  58.0      0      0            113783  26.5500  C103        S
15           16         1       2                     Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0            248706  16.0000   NaN        S
17           18         1       2                         Williams, Mr. Charles Eugene    male   NaN      0      0            244373  13.0000   NaN        S
19           20         1       3                              Masselmani, Mrs. Fatima  female   NaN      0      0              2649   7.2250   NaN        C

In [28]:
# Filter out string cols, Select VALUES that are greater than 3
# Notice the difference in using no_strings for condition, but data_portion for selection
no_strings = data_portion.loc[:, data_portion.dtypes != object]
print("\n\nNumeric columns only:")
print(no_strings)

selected_values = data_portion[no_strings>=1]
print("\n\nSelected values (where numeric values >= 1):")
print(selected_values)

Numeric columns only:
    PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0             1         0       3  22.0      1      0   7.2500
1             2         1       1  38.0      1      0  71.2833
2             3         1       3  26.0      0      0   7.9250
3             4         1       1  35.0      1      0  53.1000
4             5         0       3  35.0      0      0   8.0500
5             6         0       3   NaN      0      0   8.4583
6             7         0       1  54.0      0      0  51.8625
7             8         0       3   2.0      3      1  21.0750
8             9         1       3  27.0      0      2  11.1333
9            10         1       2  14.0      1      0  30.0708
10           11         1       3   4.0      1      1  16.7000
11           12         1       1  58.0      0      0  26.5500
12           13         0       3  20.0      0      0   8.0500
13           14         0       3  39.0      1      5  31.2750
14           15         0       3  14.0      0      0   7.8542
15           16         1       2  55.0      0      0  16.0000
16           17         0       3   2.0      4      1  29.1250
17           18         1       2   NaN      0      0  13.0000
18           19         0       3  31.0      1      0  18.0000
19           20         1       3   NaN      0      0   7.2250


Selected values (where numeric values >= 1):
    PassengerId  Survived  Pclass Name  Sex   Age  SibSp  Parch Ticket     Fare Cabin Embarked
0             1       NaN       3  NaN  NaN  22.0    1.0    NaN    NaN   7.2500   NaN      NaN
1             2       1.0       1  NaN  NaN  38.0    1.0    NaN    NaN  71.2833   NaN      NaN
2             3       1.0       3  NaN  NaN  26.0    NaN    NaN    NaN   7.9250   NaN      NaN
3             4       1.0       1  NaN  NaN  35.0    1.0    NaN    NaN  53.1000   NaN      NaN
4             5       NaN       3  NaN  NaN  35.0    NaN    NaN    NaN   8.0500   NaN      NaN
5             6       NaN       3  NaN  NaN   NaN    NaN    NaN    NaN   8.4583   NaN      NaN
6             7       NaN       1  NaN  NaN  54.0    NaN    NaN    NaN  51.8625   NaN      NaN
7             8       NaN       3  NaN  NaN   2.0    3.0    1.0    NaN  21.0750   NaN      NaN
8             9       1.0       3  NaN  NaN  27.0    NaN    2.0    NaN  11.1333   NaN      NaN
9            10       1.0       2  NaN  NaN  14.0    1.0    NaN    NaN  30.0708   NaN      NaN
10           11       1.0       3  NaN  NaN   4.0    1.0    1.0    NaN  16.7000   NaN      NaN
11           12       1.0       1  NaN  NaN  58.0    NaN    NaN    NaN  26.5500   NaN      NaN
12           13       NaN       3  NaN  NaN  20.0    NaN    NaN    NaN   8.0500   NaN      NaN
13           14       NaN       3  NaN  NaN  39.0    1.0    5.0    NaN  31.2750   NaN      NaN
14           15       NaN       3  NaN  NaN  14.0    NaN    NaN    NaN   7.8542   NaN      NaN
15           16       1.0       2  NaN  NaN  55.0    NaN    NaN    NaN  16.0000   NaN      NaN
16           17       NaN       3  NaN  NaN   2.0    4.0    1.0    NaN  29.1250   NaN      NaN
17           18       1.0       2  NaN  NaN   NaN    NaN    NaN    NaN  13.0000   NaN      NaN
18           19       NaN       3  NaN  NaN  31.0    1.0    NaN    NaN  18.0000   NaN      NaN
19           20       1.0       3  NaN  NaN   NaN    NaN    NaN    NaN   7.2250   NaN      NaN